@font-face {
  font-family: 'Play-bold';
  src: url('../fonts/playbold.woff2') format('woff2'), url('../fonts/playbold.woff') format('woff'), url('../fonts/playbold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Play-regular';
  src: url('../fonts/playregular.woff2') format('woff2'), url('../fonts/playregular.woff') format('woff'), url('../fonts/playregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
