@media (max-width: 1600px) {
  .container {
    max-width: 1360px;
  }

  .home {
    & .arrow-down {
      top: -50px;
    }

    .header {
      margin-bottom: 40px;

      &::before {
        @include responsive-font(38, 8);
        top: 17%;
        left: 32%;
      }

      &::after {
        top: 7%;
      }
    }

    &-content {
      .btn-buy {
        @include responsive-font(30, 8);
        padding: 30px 20px;
      }

      &__text {
        p {
          max-width: 450px;
          @include responsive-font(36, 18);
        }
      }

      .sign {
        &__word {
          @include responsive-font(70, 26);
        }
      }
    }
  }

  .howItWork {
    margin-bottom: 70px;

    &__title {
      margin-bottom: 100px;
    }

    &__item {
      margin-bottom: 50px;

      svg {
        margin-right: 30px;
      }

      &--reverse {
        align-self: flex-start;
        margin-left: 0px;

        svg {
          margin: 0 0 0 40px;
        }

        h3,
        p {
          text-align: right;
        }
      }

      &-text {
        h3 {
          @include responsive-font(30, 30);
        }

        p {
          @include responsive-font(18, 30);
          width: 500px;
        }
      }
    }

  }

  .buy-robox {
    &__content {
      padding-top: 70px;

      &-img {
        margin-bottom: -160px;

        img {
          width: 85%;
        }
      }

      .content-box {
        max-width: 600px;
        padding: 20px 20px;

        &__logo {
          max-width: 270px;
          margin-top: -130px;

        }

        &__title {
          margin-bottom: 10px;
        }

        &__subtitle {
          @include responsive-font(30, 24);
          margin-bottom: 10px;
        }

        .form-robox {
          margin-bottom: 10px;


          &__input {
            @include responsive-font(20, 16);
            margin-bottom: 0px;

            label {
              text-align: left;
              margin-right: 10px;
            }

            input {
              margin-bottom: 20px;
            }

            input[type="number"],
            input[type="text"] {
              padding: 5px 15px;
              width: 300px;
            }
          }

          &__output {
            @include responsive-font(26, 16);
          }
        }

        &__img {
          left: -6px;
          width: 606px;
        }
      }
    }

  }

  .counter {
    padding: 50px 0;

    &__box {
      max-width: 800px;
      padding: 40px 0px;

      &Items {

        @include responsive-font(26, 16);

        svg {
          max-width: 100px;
          max-height: 100px;
        }
      }

    }

  }

  .support {
    .waveBlack {
      margin-bottom: -40px;
    }
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }

  .home {
    & .arrow-down {
      top: 10px;
    }

    .header {
      margin-bottom: 100px;
      padding-top: 100px;

      &::before {
        @include responsive-font(34, 16);
        top: 16%;
        left: 33%;
      }

      &::after {
        top: 7%;
        width: 28%;
      }

      .menu-nav {
        &__links {
          >li {
            @include responsive-font(30, 10);
          }
        }

        .logo {
          max-width: 150px;
        }
      }
    }

    &-content {
      margin-bottom: 310px;

      &__text {
        p {
          max-width: 400px;
        }
      }
    }
  }

  .howItWork {
    &__item {
      margin-bottom: 30px;

      svg {
        max-width: 100px;
      }

      &--reverse {
        align-self: flex-start;
        margin-left: 0px;
      }

      &-text {
        max-width: 500px;

        h3 {
          @include responsive-font(26, 16);
        }

        p {
          width: 435px;
          @include responsive-font(18, 16);
        }
      }
    }

  }

  .buy-robox {
    .waveLight-white {
      bottom: -10px;
    }

    &__content {
      padding-top: 40px;

      &-img {
        img {
          width: 85%;
        }
      }

      .content-box {
        max-width: 560px;

        &__logo {
          max-width: 220px;
          margin-top: -110px;

        }

        &__title {
          @include responsive-font(40, 18);
        }

        &__subtitle {
          @include responsive-font(26, 18);
        }

        &__img {
          bottom: -65px;
          width: 566px;
        }
      }
    }

  }

  .counter {
    padding: 35px 0;

    &__box {
      max-width: 700px;
      padding: 30px 0px;

      &Items {
        @include responsive-font(24, 16);

        svg {
          margin-bottom: 5px;
          max-width: 90px;
          max-height: 90px;
        }
      }

    }

  }

  .support {

    &__content {
      padding: 200px 0 50px 0;

      &-img {
        margin-right: 50px;

        img {
          max-width: 250px;
        }
      }

      h2 {
        @include responsive-font(36, 16);
        max-width: 550px;
      }

      &-btn {
        max-width: 520px;
        padding: 20px 20px;
        text-align: center;
      }
    }

    .waveBlack {
      margin-bottom: -50px;
    }

  }
}

@media (max-width: 1366px) {
  .container {
    max-width: 1135px;
  }

  .home {
    margin-bottom: 60px;

    & .arrow-down {
      top: 30px;

    }

    .header {
      margin-bottom: 80px;
    }

    &-content {
      margin-bottom: 240px;

      &__text {
        p {
          @include responsive-font(30, 18);
          max-width: 350px;
        }
      }
    }
  }

  .howItWork {
    padding-top: 40px;
    padding-bottom: 70px;
    margin-bottom: 30px;

    &__title {
      margin-bottom: 70px;
    }

    &__item {
      margin-bottom: 30px;

      svg {
        max-width: 100px;
        max-height: 100px;
      }

      &--reverse {
        align-self: flex-start;
        margin-left: 0px;
      }

      &-text {
        p {
          width: 430px;
        }
      }
    }

  }

  .buy-robox {
    .waveLight-white {
      bottom: -20px;
    }

  }

  .counter {
    padding: 35px 0;

    &__box {
      max-width: 600px;
      padding: 20px 0px;

      &Items {
        @include responsive-font(22, 16);

        svg {
          max-width: 80px;
          max-height: 80px;
        }
      }

    }

  }

  .support {
    .waves {

      .waveWhite,
      .waveLight-white {
        top: -22px;
      }

      .waveLight-white {
        top: 8px;
      }
    }

    &__content {
      padding: 150px 0 50px 0;

      &-img {
        margin-right: 40px;

        img {
          max-width: 220px;
        }
      }

      h2 {
        @include responsive-font(32, 16);
      }

      &-btn {
        padding: 20px 10px;
      }
    }

  }

  .footer {
    padding-bottom: 50px;
    padding-top: 50px;


    .social {
      max-width: 550px;
      width: 100%;
      min-height: 150px;


      &-logo {
        width: 250px;
      }

      &-logo:hover {
        transform: scale(1.1);
      }

      &__item {
        svg {
          width: 70px;
          height: 70px;
        }

        svg:hover {
          transform: scale(1);

        }

        p {
          @include responsive-font(20, 16);

        }
      }
    }
  }
}


@media (max-width: 1024px) {
  .container {
    max-width: 950px;
  }

  .home {
    & .arrow-down {
      top: -20px;

      svg {
        width: 40px;
      }
    }

    .header {
      padding-top: 160px;
      margin-bottom: 0px;

      .vetka-img {
        display: none;
      }

      .menu-nav {
        padding: 10px 55px;
      }

      &::before {
        @include responsive-font(36, 8);
        top: 18%;
        left: 31%;
      }

      &::after {
        top: 10%;
        left: 56%;
      }
    }

    &-content {
      margin-bottom: 290px;

      .btn-buy {
        @include responsive-font(36, 10);
        padding: 30px 15px;
      }

      &__text {
        p {
          max-width: 300px;
        }
      }
    }
  }

  .howItWork {
    padding-top: 30px;
    margin-bottom: -4px;
  }

  .support {
    .waves {

      .waveWhite,
      .waveLight-white {
        top: -35px;
      }

      .waveLight-white {
        top: -30px;
      }
    }

    &__content {
      h2 {
        margin-bottom: 15px;
        max-width: 500px;
      }

      padding: 150px 0 20px 0;
    }

    .waveBlack {
      margin-bottom: -70px;
    }
  }

  .buy-robox {
    .waveLight-white {
      bottom: -40px;
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 130px;

      &-img {
        margin-bottom: -150px;
        width: 100%;

        img {
          width: 100%;
          padding-right: 50px;
        }
      }

      .content-box {
        max-width: 400px;
        margin-right: 50px;

        &__img {
          bottom: -20px;
          max-width: 750px;
          width: 102%;
        }

        &__btn {
          margin-left: 20px;
          padding: 30px 35px;
        }
      }
    }


  }

}

@media (max-width: 768px) {
  .container {
    min-width: 320px;
  }

  .home {
    background-size: cover;
    background-position: -450px 0px;

    & .arrow-down {
      top: 40px;

      svg {
        opacity: 1;
        width: 20px;
      }
    }

    .header {
      margin-bottom: 0px;
      padding-top: 280px;

      &::before {
        @include responsive-font(42, 18);
        top: 18%;
        left: 10%;
      }

      &::after {
        top: 10%;
        left: 80%;
        width: 80%;
        height: 30%;
      }

      #nums_1 {
        display: none;
      }

      #garland {
        display: none;
      }

      #garland-small {
        display: block;
      }

      .garland_1 {
        background-position: 0 0;
      }

      .garland_2 {
        background-position: 0 -22px;
      }

      .garland_3 {
        background-position: 0 -44px;
      }

      .garland_4 {
        background-position: 0 -66px;
      }

      .menu-nav {
        padding: 10px 15px;
        min-width: 320px;

        &__links {
          >li {
            @include responsive-font(24, 16);
            margin-right: 20px;
          }
        }

        .logo {
          max-width: 90px;
        }
      }
    }

    &-content {
      margin-bottom: 0px;
      flex-direction: column;

      .btn-buy {
        @include responsive-font(26, 22);
        padding: 20px 10px;
        max-width: 300px;
      }

      &__text {
        text-align: center;
        margin-right: 0;
        max-width: 300px;
        margin-bottom: 30px;

        p {
          @include responsive-font(36, 22);
          margin-bottom: 20px;
        }
      }

      .sign {
        &__word {
          @include responsive-font(70, 58);
        }
      }
    }
  }

  .howItWork {
    padding-top: 70px;
    margin-bottom: 0px;

    &__title {
      margin-bottom: 50px;
    }

    &__items {
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    &__item {

      flex-direction: column;

      p,
      h3 {
        text-align: center;
      }

      svg {
        max-width: 50px;
        max-height: 50px;
        margin-right: 0px;
        margin-bottom: 10px;
      }

      &--reverse {
        flex-direction: column;
        align-self: center;
        margin-left: 0px;

        svg {
          margin: 0px;

        }

        h3,
        p {
          text-align: center;
        }
      }

      &-text {
        h3 {
          @include responsive-font(30, 20);
        }

        p {
          @include responsive-font(18, 14);
          width: 290px;
        }
      }
    }

  }

  .buy-robox {
    background-size: 100% 90%;

    .waveBlack {
      min-width: 320px;
      width: 100%;
      top: -3px;
      left: 0px;

    }

    .waveWhite {
      position: absolute;
      width: 100%;
      height: 40px;
      z-index: 4;
      bottom: 45px;
      margin-top: 5px;
    }

    .waveLight-white {
      width: 100%;
      bottom: 0;
    }

    &__content {
      padding-top: 70px;
      flex-direction: column;

      &-img {
        display: none;
      }

      .content-box {
        margin: 0;
        max-width: 280px;

        &__img {
          left: -5px;
          bottom: -20px;
          max-width: 285px;


        }

        &__logo {
          max-width: 150px;
          margin-top: -85px;
          margin-left: 10px;
          z-index: 2;
        }

        &__title {
          -webkit-text-stroke: 1px $light-blue;
          @include responsive-font(42, 20);
        }

        &__btn {
          margin-top: 20px;
          margin-left: 10px;
          padding: 15px 15px;
        }

        .form-robox {
          height: 150px;

          input[type="number"],
          input[type="text"] {
            width: 240px;
          }
        }
      }
    }
  }

  .counter {
    margin-top: -70px;
    padding: 30px 15px;

    &__box {
      min-width: 270px;
      padding: 10px 0px;

      &Items {
        @include responsive-font(18, 12);

        svg {
          width: 50px;
          height: 50px;
        }
      }

    }

  }

  .support {

    .waves {

      .waveWhite,
      .waveLight-white {
        height: 50px;
        top: -15px;
      }

      .waveLight-white {
        top: -15px;
      }
    }

    &__content {
      padding: 50px 15px 20px;

      &-img {
        margin-right: 50px;

        img {
          margin-right: 0px;
          max-width: 100px;
        }
      }

      h2 {
        @include responsive-font(36, 12);
        margin-bottom: 15px;
        max-width: 270px;
      }

      &-btn {
        @include responsive-font(20, 10);
        padding: 10px 10px;
        max-width: 200px;
      }

    }

    .waveBlack {
      height: 50px;
      margin-bottom: -12px;
    }
  }

  .footer {
    .container {
      min-width: 0;
      max-width: 320px;
      padding: 0;
    }

    padding: 20px 15px;

    .social {
      &__box {
        max-width: 350px;
        margin-right: 0;
      }

      max-width: 250px;
      min-height: 50px;


      &-logo {
        width: 80px;
        margin-right: 20px;
      }

      &-logo:hover {
        transform: scale(1.1);
      }

      &__item {
        svg {
          width: 20px;
          height: 20px;
        }

        svg:hover {
          transform: scale(1);

        }

        p {
          @include responsive-font(10, 8);

        }
      }
    }
  }
}

@media (max-width: 640px) {}

@media (max-width: 420px) {
  .home {
    background-position: -530px 0px;
    & .arrow-down {
      top: 40px;
      margin-bottom: 0;
      padding-bottom: 0px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .header {
      margin-bottom: 110px;
      padding-top: 280px;
      .menu-nav {
        max-width: 414px;
      }
      &::before {
        @include responsive-font(42, 22);
        top: 17%;
        left: 10%;
      }
     
    }
    .container{
     padding-top: 10px;
     .home-content{
       margin-bottom: 0;
     }
    }
  }
  .howItWork{
    padding-top: 10px;
  }
  .preloader {
    width: 420px;
  }
}


@media (max-width: 375px) {
  .home {
    background-position: -540px 0px;

    .header {
      .menu-nav {
        max-width: 375px;
      }
      &::before {
        @include responsive-font(42, 21);
        top: 17%;
        left: 9%;
      }
      #garland-small {
        max-width: 375px;
      }

      margin-bottom: 50px;
      padding-top: 300px;
    }
  }
 
  .preloader {
    width: 375px;
  }

}

@media (max-width: 360px) {
  .home{
    .header{
      .menu-nav {
        max-width: 360px;
      }
      &::before {
        @include responsive-font(42, 20);
        top: 17%;
        left: 9%;
      }
    }
  }
  .preloader {
    max-width: 360px;
  }
}

@media (max-width: 320px) {
  .home {
    background-position: -460px 0px;

    .header {
      margin-bottom: 10px;
      padding-top: 250px;
      &::before {
        @include responsive-font(42, 18);
        top: 18%;
        left: 10%;
      }
      .menu-nav {
        max-width: 320px;
      }
      #garland-small {
        max-width: 320px;
      }
    }
  }
  .preloader {
    width: 320px;
  }
}


//HEIGHT
@media (max-height: 812px) and (min-height: 812px) {
  .home {
    background-position: -670px 0px;

    .header {
      margin-bottom: 190px;
      padding-top: 300px;
      &::before {
        @include responsive-font(42, 21);
        top: 16%;
        left: 9%;
      }
    }
  }
}