/*=====POPUP=====*/


.blur {
  filter: blur(5px);
}

.modal-wrapper {
  width: 100%;
  /* height: 100%; */
  height: 100vh;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(31, 54, 70, 0.99);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 100;
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
  
}

.modal {
  width: 500px;
  min-height: 0px;
  display: block;

  position: relative;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background: $white;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  
}

.modal-wrapper.open .modal {
  margin-top: -200px;
  opacity: 1;
  
}

.head {
  width: 100%;
  height: 70px;
  padding: 1.5em 4%;
  overflow: hidden;
  background: $light-blue;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.btn-close {
  width: 32px;
  height: 32px;
  display: block;
  float: right;
}

.btn-close::before,
.btn-close::after {
  content: '';
  width: 32px;
  height: 6px;
  display: block;
  background: rgb(0, 0, 0);
}

.btn-close:hover::before,
.btn-close:hover::after {
  background: $white;
}

.btn-close::before {
  margin-top: 12px;
  transform: rotate(45deg);
}

.btn-close::after {
  margin-top: -6px;
  transform: rotate(-45deg);
}

.popupContent {
  text-align: center;
  color: $black;
  padding: 5px 25px 5px;

  h2 {
    @include responsive-font(30, 18);
    margin-bottom: 10px;
  }

  .item-price {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid rgb(102, 102, 102);
    border-bottom: 1px solid rgb(102, 102, 102);
    margin-bottom: 15px;

    &__img-text {
      display: flex;
      align-items: center;

      img {
        max-width: 70px;
        margin-right: 20px;
        background-color: rgba(185, 185, 185, 0.5);
        border-radius: 10px;
      }

      >span {
        margin-right: 15px;
      }
    }
  }

  .price__summ,
  .price__min {
    text-align: right;

    >span {
      margin-right: 10px;
    }

  }

  .price__summ {
    margin-bottom: 15px;
  }

  .message {
    text-align: left;

    h3 {
      @include responsive-font(20, 14);
    }

    a {
      @extend %playbold-800;
      @include responsive-font(20, 14);
      color: rgb(190, 65, 65);
    }

    p {
      @include responsive-font(16, 10);
      margin-bottom: 10px;
    }
  }

  .form-robox {

    .input__nick,
    .input__promo {
      @include responsive-font(22, 14);
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      label {
        margin-bottom: 10px;
      }

      input {
        background: transparent;
        border: 3px solid $black;
        border-radius: 50px;
        padding: 10px 15px;
        width: 300px;
        box-shadow: -2px 2px 3px 1px rgba(0, 0, 0, 0.25);
      }
    }

    .payment-method {
      text-align: center;
      &__title, 
      &__radio{
        text-align-last: left;
      }
      &__title {
        @extend %playbold-800;
        @include responsive-font(20, 14);
        margin-bottom: 15px;
      }

      &__radio {
        @extend %playbold-800;
        @include responsive-font(16, 14);
        margin-bottom: 10px;
      }
      .pay__btn {
        display: inline-block;
        @include responsive-font(20, 14);
        padding: 10px;
        margin: 10px 0;
      }
    }
  }

  
}

@media (max-width: 768px) {
  .modal {
    width: 300px;
    min-height: 390px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding-bottom: 20px;
  }

  .modal-wrapper.open .modal {
    margin-top: 0px;
  }

  .head {
    width: 100%;
    height: 20px;
    padding: 1em 5%;
  }
  .btn-close {
    width: 16px;
    height: 16px;
  }

  .btn-close::before,
  .btn-close::after {
    content: '';
    width: 16px;
    height: 6px;
  }

  .btn-close::before {
    margin-top: 0px;
  }

  .btn-close::after {
    margin-top: -6px;
  }

  .popupContent {
    padding: 5px 15px 5px;
    height: 350px;
    .item-price {
      display: none;
    }

    .price__summ,
    .price__min {
      >span {
        margin-right: 10px;
      }
    }
    .price__summ {
      margin-bottom: 15px;
    }
    .message {
      display: none;
    }

    .form-robox {
      .input__nick,
      .input__promo {
        min-height: 70px;
        @include responsive-font(22, 14);
        label {

          margin-bottom: 10px;
        }

        input {
          padding: 5px 15px;
          width: 100%;
       }
      }

      .payment-method {
        text-align: left;
        min-height: 133px;
        &__title {
          @include responsive-font(20, 14);
        }

        &__radio {
          @include responsive-font(16, 14);
          margin-bottom: 15px;
        }
        .pay__btn {
          @include responsive-font(20, 14);
          padding: 10px;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          margin: 0px;
        }
      }
    }
  }
}



/*=====POPUP=====*/


/* .blur {
  filter: blur(5px);
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(31, 54, 70, 0.99);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 100;
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 500px;
  min-height: 0px;
  display: block;

  position: relative;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background: $white;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
}

.modal-wrapper.open .modal {
  margin-top: -200px;
  opacity: 1;
}

.head {
  width: 100%;
  height: 70px;
  padding: 1.5em 4%;
  overflow: hidden;
  background: $light-blue;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.btn-close {
  width: 32px;
  height: 32px;
  display: block;
  float: right;
}

.btn-close::before,
.btn-close::after {
  content: '';
  width: 32px;
  height: 6px;
  display: block;
  background: rgb(0, 0, 0);
}

.btn-close:hover::before,
.btn-close:hover::after {
  background: $white;
}

.btn-close::before {
  margin-top: 12px;
  transform: rotate(45deg);
}

.btn-close::after {
  margin-top: -6px;
  transform: rotate(-45deg);
}

.popupContent {
  text-align: center;
  color: $black;
  padding: 5px 25px 5px;

  h2 {
    @include responsive-font(30, 18);
    margin-bottom: 10px;
  }

  .item-price {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid rgb(102, 102, 102);
    border-bottom: 1px solid rgb(102, 102, 102);
    margin-bottom: 15px;

    &__img-text {
      display: flex;
      align-items: center;

      img {
        max-width: 70px;
        margin-right: 20px;
        background-color: rgba(185, 185, 185, 0.5);
        border-radius: 10px;
      }

      >span {
        margin-right: 15px;
      }
    }
  }

  .price__summ,
  .price__min {
    text-align: right;

    >span {
      margin-right: 10px;
    }

  }

  .price__summ {
    margin-bottom: 15px;
  }

  .message {
    text-align: left;

    h3 {
      @include responsive-font(20, 14);
    }

    a {
      @extend %playbold-800;
      @include responsive-font(20, 14);
      color: rgb(190, 65, 65);
    }

    p {
      @include responsive-font(16, 10);
      margin-bottom: 10px;
    }
  }

  .form-robox {

    .input__nick,
    .input__promo {
      @include responsive-font(22, 14);
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      label {
        margin-bottom: 10px;
      }

      input {
        background: transparent;
        border: 3px solid $black;
        border-radius: 50px;
        padding: 10px 15px;
        width: 300px;
        box-shadow: -2px 2px 3px 1px rgba(0, 0, 0, 0.25);
      }
    }

    .payment-method {
      text-align: left;

      &__title {
        @extend %playbold-800;
        @include responsive-font(20, 14);
        margin-bottom: 15px;
      }

      &__radio {
        @extend %playbold-800;
        @include responsive-font(16, 14);
        margin-bottom: 5px;
      }
    }
  }

  .pay__btn {
    display: inline-block;
    @include responsive-font(20, 14);
    padding: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .modal {
    width: 300px;
    min-height: 390px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
  }

  .modal-wrapper.open .modal {
    margin-top: 0px;
  }

  .head {
    width: 100%;
    height: 20px;
    padding: 1em 5%;
  }
  .btn-close {
    width: 16px;
    height: 16px;
  }

  .btn-close::before,
  .btn-close::after {
    content: '';
    width: 16px;
    height: 6px;
  }

  .btn-close::before {
    margin-top: 0px;
  }

  .btn-close::after {
    margin-top: -6px;
  }

  .popupContent {
    padding: 5px 15px 5px;
    height: 350px;
    .item-price {
      display: none;
      padding: 5px;
      margin-bottom: 15px;

      &__img-text {
        img {
          max-width: 40px;
        }
      }
    }

    .price__summ,
    .price__min {
      >span {
        margin-right: 10px;
      }
    }
    .price__summ {
      margin-bottom: 15px;
    }
    .message {
      display: none;
      text-align: left;

      h3 {
        @include responsive-font(20, 14);
      }

      a {

        @include responsive-font(20, 14);
        color: rgb(190, 65, 65);
      }

      p {
        @include responsive-font(16, 10);
        margin-bottom: 10px;
      }
    }

    .form-robox {
      .input__nick,
      .input__promo {
        @include responsive-font(22, 14);
        label {

          margin-bottom: 10px;
        }

        input {
          padding: 5px 15px;
          width: 100%;
       }
      }

      .payment-method {
        &__title {
          @include responsive-font(20, 14);
        }

        &__radio {
          @include responsive-font(16, 14);
          margin-bottom: 15px;
        }
        .pay__btn {
          @include responsive-font(20, 14);
          padding: 10px;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
       
        }
      }
    }
  }
} */