.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: $white;
  position: fixed;
  z-index: 1000;
}

.cssload-circle {
  position: relative;
  margin: 75px auto;
  width: 120px;
  height: 120px;
  background: rgb(236, 240, 241);
  border: solid 8px rgb(44, 62, 80);
  border-radius: 100%;
  overflow: hidden;
  animation: cssload-rotates 2.3s infinite linear;
  -o-animation: cssload-rotates 2.3s infinite linear;
  -ms-animation: cssload-rotates 2.3s infinite linear;
  -webkit-animation: cssload-rotates 2.3s infinite linear;
  -moz-animation: cssload-rotates 2.3s infinite linear;
}

.cssload-up {
  width: 45px;
  height: 60px;
  left: 28px;
  overflow: hidden;
  background: rgb(204, 238, 255);
  position: absolute;
}

.cssload-up:before,
.cssload-up:after {
  content: "";
  width: 45px;
  height: 45px;
  background: rgb(236, 240, 241);
  position: absolute;
  z-index: 1;
}

.cssload-up:before {
  top: 45px;
  left: -26px;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.cssload-up:after {
  top: 45px;
  left: 26px;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.cssload-innera {
  position: relative;
  top: 23px;
  width: 45px;
  height: 45px;
  background: rgb(241, 196, 15);
  animation: cssload-mymove 2.3s infinite linear;
  -o-animation: cssload-mymove 2.3s infinite linear;
  -ms-animation: cssload-mymove 2.3s infinite linear;
  -webkit-animation: cssload-mymove 2.3s infinite linear;
  -moz-animation: cssload-mymove 2.3s infinite linear;
}

.cssload-down {
  width: 45px;
  height: 60px;
  left: 28px;
  top: 60px;
  overflow: hidden;
  background: rgb(204, 238, 255);
  position: absolute;
  z-index: 1;
}

.cssload-down:before,
.cssload-down:after {
  content: "";
  width: 45px;
  height: 60px;
  background: rgb(236, 240, 241);
  position: absolute;
  z-index: 1;
}

.cssload-down:before {
  top: -38px;
  left: -26px;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.cssload-down:after {
  top: -38px;
  left: 36px;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.cssload-innerb {
  position: relative;
  top: 60px;
  width: 45px;
  height: 45px;
  background: rgb(241, 196, 15);
  animation: cssload-mymoveb 2.3s infinite linear;
  -o-animation: cssload-mymoveb 2.3s infinite linear;
  -ms-animation: cssload-mymoveb 2.3s infinite linear;
  -webkit-animation: cssload-mymoveb 2.3s infinite linear;
  -moz-animation: cssload-mymoveb 2.3s infinite linear;
}






@keyframes cssload-mymove {
  0% {
    top: 23px;
  }

  100% {
    top: 68px;
  }
}

@-o-keyframes cssload-mymove {
  0% {
    top: 23px;
  }

  100% {
    top: 68px;
  }
}

@-ms-keyframes cssload-mymove {
  0% {
    top: 23px;
  }

  100% {
    top: 68px;
  }
}

@-webkit-keyframes cssload-mymove {
  0% {
    top: 23px;
  }

  100% {
    top: 68px;
  }
}

@-moz-keyframes cssload-mymove {
  0% {
    top: 23px;
  }

  100% {
    top: 68px;
  }
}

@keyframes cssload-mymoveb {
  0% {
    top: 60px;
  }

  90% {
    top: 30px;
  }

  100% {
    top: -8px;
  }
}

@-o-keyframes cssload-mymoveb {
  0% {
    top: 60px;
  }

  90% {
    top: 30px;
  }

  100% {
    top: -8px;
  }
}

@-ms-keyframes cssload-mymoveb {
  0% {
    top: 60px;
  }

  90% {
    top: 30px;
  }

  100% {
    top: -8px;
  }
}

@-webkit-keyframes cssload-mymoveb {
  0% {
    top: 60px;
  }

  90% {
    top: 30px;
  }

  100% {
    top: -8px;
  }
}

@-moz-keyframes cssload-mymoveb {
  0% {
    top: 60px;
  }

  90% {
    top: 30px;
  }

  100% {
    top: -8px;
  }
}

@keyframes cssload-rotates {
  0% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@-o-keyframes cssload-rotates {
  0% {
    -o-transform: rotate(0deg);
  }

  80% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(180deg);
  }
}

@-ms-keyframes cssload-rotates {
  0% {
    -ms-transform: rotate(0deg);
  }

  80% {
    -ms-transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(180deg);
  }
}

@-webkit-keyframes cssload-rotates {
  0% {
    -webkit-transform: rotate(0deg);
  }

  80% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
  }
}

@-moz-keyframes cssload-rotates {
  0% {
    -moz-transform: rotate(0deg);
  }

  80% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(180deg);
  }
}

.preloader-remove {
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}