$maxWidth: 1920;

@mixin responsive-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}


%playbold-800 {
  font-family: 'Play-bold';
  font-weight: 800;
}

%playregular-400 {
  font-family: 'Play-regular';
  font-weight: 400;
}

$bg-support: #1F3646;
$light-blue: #53B1E5;
$dark-blue: #2C628C;
$buyBox-form: #BEE8FF;
$course: #c6e2ff;
$black: #000; 
$white: #fff;

$angle: 8px;
$angle-o: 4px;











